@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
	background-color: #242524;
}

body {
	width: 100vh;
	height: 100vh;
	font-family: Montserrat, sans-serif;
}

#navbar {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 10%;
}

#heading {
	background-image: url('../img/capa-madmax.jpg');
}

#movieInfo {
	position: absolute;
	top: 280px;
	left: 160px;
}

#movieTitle h1 {
	color: whitesmoke;
	font-size: 4rem;
	letter-spacing: 3px;
	width: 70vw;
}

#tags {
	color: whitesmoke;
	font-size: 1rem;
	overflow: hidden;
}

#movieInfo button {
	background-color: rgb(235, 168, 46);
	color: black;
	padding: 15px 45px;
	border-radius: 30px;
	border: 1px solid transparent;
	margin: 10px 0;
}

#availableCinema {
	color: white;
}

#releaseDate {
	color: rgb(235, 168, 46);
}

#links {
	margin-bottom: 10px;
}

li, a {
	font-weight: 700;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

#logo {
	cursor: pointer;
}

.nav__links {
	list-style: none;
	text-transform: uppercase;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #f0ed44;
}

#userInfo a {
	display: inline-block;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#userInfo span {
	color: white;
}

#userInfo img {
	border-radius: 50%;
	width: 20%;
}